body{
    background-color: #ffccff;
    
}

.main{
    background-color: azure;
    width: 400px;
    height: 200px;
    margin-top: 10%;
    margin-left: 40%;
    padding-top: 50px;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.main h1{
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.form{
    align-items: center;
    justify-content: center;
}
.form input [type="text"]{
    height: 40px;
    min-width: 80%;
    border: 1px solid black ;
    align-items: center;
    justify-content: center;
}
.form button [type="submit"]{
    height: 40px;
    min-width: 80%;
    border: 1px solid black ;
    align-items: center;
    justify-content: center;
}